<app-header2 [cart]="cart.length"></app-header2>



<!-- breadcrumb-area start -->
<div class="breadcrumb-area">
    <div class="container">
        <div class="row">
            <div class="col-12">
                <div class="row breadcrumb_box  align-items-center">
                    <div class="col-lg-6 col-md-6 col-sm-6 text-center text-sm-left">
                        <h2 class="breadcrumb-title">Boutique</h2>
                    </div>
                    <div class="col-lg-6  col-md-6 col-sm-6">
                        <!-- breadcrumb-list start -->
                        <ul class="breadcrumb-list text-center text-sm-right">
                            <li class="breadcrumb-item"><a routerLink="/">Accueil</a></li>
                            <li class="breadcrumb-item active">Boutique</li>
                        </ul>
                        <!-- breadcrumb-list end -->
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- breadcrumb-area end -->


<div id="main-wrapper">
<div class="site-wrapper-reveal border-bottom">

    <!-- Product Area Start -->
    <div class="product-wrapper section-space--ptb_120">
        <div class="container">

            
            <div class="tab-content">
                <div class="tab-pane fade show active" id="tab_columns_01">
                    <div class="row">
                        <div class="col-lg-4 col-md-4 col-sm-6" (click)="onViewProduct(i)" *ngFor="let produit of produits; let i = index">
                            <!-- Single Product Item Start -->
                            <div class="single-product-item text-center">
                                <div class="products-images">
                                    <a  class="product-thumbnail">
                                        <img src="assets/images/product/{{produit.short_name}}.png" class="img-fluid"
                                            alt="Product Images">

                                        
                                    </a>
                                    <div class="product-actions">
                                        <a data-toggle="modal" data-target="#prodect-modal"><i
                                                class="p-icon icon-plus"></i><span class="tool-tip">Quick
                                                View</span></a>
                                        <a ><i class="p-icon icon-bag2"></i> <span
                                                class="tool-tip">Add to cart</span></a>
                                        <a><i class="p-icon icon-heart"></i> <span
                                                class="tool-tip">Browse Wishlist</span></a>
                                    </div>
                                </div>
                                <div class="product-content">
                                    <h6 class="prodect-title"><a>{{produit.name}}</a>
                                    </h6>
                                    <div class="prodect-price">
                                        <span class="new-price">${{produit.min_price}}</span> - <span class="old-price"> ${{produit.max_price}}</span>
                                    </div>
                                </div>
                            </div><!-- Single Product Item End -->
                        </div>

                    </div>
                </div>
                
        
            </div>


        </div>
    </div>
    <!-- Product Area End -->

</div>

<!--====================  footer area ====================-->
<app-footer2></app-footer2>
<!--====================  End of footer area  ====================-->


</div>


<!--====================  mobile menu overlay ====================-->
<app-menu></app-menu>
<!--====================  End of mobile menu overlay  ====================-->



<!--  offcanvas Minicart Start -->
<app-mini-cart></app-mini-cart>
<!--  offcanvas Minicart End -->


<!--====================  search overlay ====================-->
<app-scroll-to-top></app-scroll-to-top>