<app-header2 [cart]="cart.length"></app-header2>
<app-cookies></app-cookies>


<!-- breadcrumb-area start -->
<div class="breadcrumb-area">
    <div class="container">
        <div class="row">
            <div class="col-12">
                <div class="row breadcrumb_box  align-items-center">
                    <div class="col-lg-6 col-md-6 col-sm-6 text-center text-sm-left">
                        <h2 class="breadcrumb-title">Politique de Remboursement </h2>
                    </div>
                    <div class="col-lg-6  col-md-6 col-sm-6">
                        <!-- breadcrumb-list start -->
                        <ul class="breadcrumb-list text-center text-sm-right">
                            <li class="breadcrumb-item"><a routerLink="/">Accueil</a></li>
                            <li class="breadcrumb-item active">Politique de Remboursement</li>
                        </ul>
                        <!-- breadcrumb-list end -->
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- breadcrumb-area end -->


<div id="main-wrapper">
    <div class="site-wrapper-reveal border-bottom">
        <div class="product-wrapper section-space--ptb_120">
            <div class="container">
                
                <p class="p1">Notre politique dure 30 jours. Si 30 jours se sont &eacute;coul&eacute;s depuis votre achat, nous ne pouvons malheureusement pas vous offrir un remboursement ou un &eacute;change.</p>
                <p class="p2"><br></p>
                <p class="p1">Pour pouvoir b&eacute;n&eacute;ficier d&rsquo;un retour, votre article doit &ecirc;tre inutilis&eacute; et dans le m&ecirc;me &eacute;tat o&ugrave; vous l&rsquo;avez re&ccedil;u. Il doit &ecirc;tre &eacute;galement dans l&rsquo;emballage d&rsquo;origine.</p>
                <p class="p2"><br></p>
                <p class="p1">Plusieurs types de produits ne peuvent pas &ecirc;tre retourn&eacute;s. Les marchandises p&eacute;rissables telles que la nourriture, les fleurs ou les magazines ne peuvent pas &ecirc;tre retourn&eacute;es. Nous n&rsquo;acceptons pas non plus de produits &agrave; usage intime ou sanitaire, de produits dangereux ou de gaz ou de liquides inflammables.</p>
                <p class="p2"><br></p>
                <p class="p1">Autres articles qui ne peuvent pas &ecirc;tre retourn&eacute;s:</p>
                <p class="p1">* Cartes cadeaux</p>
                <p class="p1">* Logiciels t&eacute;l&eacute;chargeables</p>
                <p class="p1">* Certains produits de sant&eacute; et de soins personnels</p>
                <p class="p2"><br></p>
                <p class="p1">Pour effectuer un retour, vous devez nous pr&eacute;senter un re&ccedil;u ou une preuve d&rsquo;achat.</p>
                <p class="p2"><br></p>
                <p class="p1">Veuillez s&rsquo;il vous plait ne pas renvoyer votre achat chez le fabricant.</p>
                <p class="p2"><br></p>
                <p class="p1">Il y a certaines situations o&ugrave; seul un remboursement partiel est accord&eacute;: (le cas &eacute;ch&eacute;ant)</p>
                <p class="p1">* Livres avec des signes &eacute;vidents d&rsquo;utilisation.</p>
                <p class="p1">* CD, DVD, cassette VHS, logiciel, jeu vid&eacute;o, cassette, ou disque vinyle qui a &eacute;t&eacute; ouvert.</p>
                <p class="p1">* Tout article qui n&rsquo;est pas dans son &eacute;tat d&rsquo;origine, qui est endommag&eacute; ou qui pr&eacute;sente certaines pi&egrave;ces manquantes pour des raisons qui ne sont pas dues &agrave; une erreur de notre part.</p>
                <p class="p1">* Tout article qui est retourn&eacute; plus de 30 jours apr&egrave;s la livraison.</p>
                <p class="p2"><br></p>
                <p class="p1">Remboursements (le cas &eacute;ch&eacute;ant)</p>
                <p class="p1">Une fois que nous aurons re&ccedil;u et inspect&eacute; l&rsquo;article retourn&eacute;, nous vous enverrons un e-mail pour vous confirmer que nous l&rsquo;avons bien re&ccedil;u. Nous vous informerons &eacute;galement de notre d&eacute;cision quant &agrave; l&rsquo;approbation ou au rejet de votre demande de remboursement.</p>
                <p class="p1">Si votre demande est approuv&eacute;e, alors votre remboursement sera trait&eacute;, et un cr&eacute;dit sera automatiquement appliqu&eacute; &agrave; votre carte de cr&eacute;dit ou &agrave; votre m&eacute;thode originale de paiement, dans un d&eacute;lai d&rsquo;un certain nombre de jours.</p>
                <p class="p2"><br></p>
                <p class="p1">Remboursements en retard ou manquants (le cas &eacute;ch&eacute;ant)</p>
                <p class="p1">Si vous n&rsquo;avez pas encore re&ccedil;u votre remboursement, veuillez d&rsquo;abord consulter votre compte bancaire &agrave; nouveau.</p>
                <p class="p1">Ensuite, contactez l&rsquo;entit&eacute; &eacute;mettrice de votre carte de cr&eacute;dit, car il pourrait y avoir un d&eacute;lai avant que votre remboursement ne soit officiellement affich&eacute;.</p>
                <p class="p1">Ensuite, contactez votre banque. Il y a souvent un d&eacute;lai de traitement n&eacute;cessaire avant qu&rsquo;un remboursement ne soit affich&eacute;.</p>
                <p class="p1">Si apr&egrave;s avoir effectu&eacute; toutes ces &eacute;tapes, vous n&rsquo;avez toujours pas re&ccedil;u votre remboursement, veuillez s&rsquo;il vous plait nous contacter &agrave; autresapps@gmail.com.</p>
                <p class="p2"><br></p>
                <p class="p1">Articles sold&eacute;s (le cas &eacute;ch&eacute;ant)</p>
                <p class="p1">Seuls les articles &agrave; prix courant peuvent &ecirc;tre rembours&eacute;s. Malheureusement, les articles sold&eacute;s ne sont pas remboursables.</p>
                <p class="p2"><br></p>
                <p class="p1">&Eacute;changes (le cas &eacute;ch&eacute;ant)</p>
                <p class="p1">Nous rempla&ccedil;ons un article seulement s&rsquo;il est d&eacute;fectueux ou endommag&eacute;. Si dans ce cas vous souhaitez l&rsquo;&eacute;changer contre le m&ecirc;me article, envoyez-nous un e-mail &agrave; contact@tooneuf.com et envoyez-nous votre article &agrave;: 16155 rue Delphis-delorme, MTL, H1A 1R5, Canada.</p>
                <p class="p2"><br></p>
                <p class="p1">Cadeaux</p>
                <p class="p1">Si l&rsquo;article retourn&eacute; &eacute;tait identifi&eacute; comme un cadeau lors de l&rsquo;achat et s&rsquo;il vous a &eacute;t&eacute; envoy&eacute; directement, vous recevrez un cr&eacute;dit-cadeau d&rsquo;une valeur &eacute;gale &agrave; celle de votre retour. Une fois que nous aurons re&ccedil;u l&rsquo;article retourn&eacute;, un ch&egrave;que-cadeau vous sera envoy&eacute; par courrier.</p>
                <p class="p2"><br></p>
                <p class="p1">Si l&rsquo;article n&rsquo;a pas &eacute;t&eacute; identifi&eacute; comme un cadeau lors de l&rsquo;achat, ou si le donateur du cadeau a pr&eacute;f&eacute;r&eacute; recevoir d&rsquo;abord l&rsquo;article pour vous l&rsquo;offrir plus tard, nous enverrons un remboursement au donateur du cadeau et il saura que vous avez retourn&eacute; l&rsquo;article.</p>
                <p class="p2"><br></p>
                <p class="p1">Exp&eacute;dition</p>
                <p class="p1">Pour retourner un produit, vous devez l&rsquo;envoyer par la poste &agrave;: 16155 rue Delphis-delorme, MTL, H1A 1R5, Canada.</p>
                <p class="p1">Il vous incombera de payer vos propres frais d&rsquo;exp&eacute;dition pour retourner votre article. Les co&ucirc;ts d&rsquo;exp&eacute;dition ne sont pas remboursables. Si vous recevez un remboursement, les frais de retour seront d&eacute;duits de celui-ci.</p>
                <p class="p2"><br></p>
                <p class="p1">En fonction de l&rsquo;endroit o&ugrave; vous vivez, le d&eacute;lai n&eacute;cessaire pour recevoir votre produit &eacute;chang&eacute; peut varier.</p>
                <p class="p2"><br></p>
                <p class="p1">Si vous exp&eacute;diez un article d&rsquo;une valeur sup&eacute;rieure &agrave; $75, vous devriez envisager d&rsquo;utiliser un service de livraison qui vous permet de suivre l&rsquo;envoi ou de souscrire &agrave; une assurance de livraison. Nous ne garantissons pas que nous recevrons l&rsquo;article que vous nous retournez.</p>
            </div>
        </div>
    </div>
</div>














<!--====================  footer area ====================-->
<app-footer2></app-footer2>

<!--====================  End of footer area  ====================-->






<!--====================  mobile menu overlay ====================-->
<app-menu></app-menu>
<!--====================  End of mobile menu overlay  ====================-->



<!--  offcanvas Minicart Start -->
<app-mini-cart></app-mini-cart>
<!--  offcanvas Minicart End -->


<!--====================  search overlay ====================-->
<app-scroll-to-top></app-scroll-to-top>