<app-header2 [cart]="cart.length"></app-header2>


<!-- breadcrumb-area start -->
<div class="breadcrumb-area">
    <div class="container">
        <div class="row">
            <div class="col-12">
                <div class="row breadcrumb_box  align-items-center">
                    <div class="col-lg-6 col-md-6 col-sm-6 text-center text-sm-left">
                        <h2 class="breadcrumb-title">Politique de Confidentialité </h2>
                    </div>
                    <div class="col-lg-6  col-md-6 col-sm-6">
                        <!-- breadcrumb-list start -->
                        <ul class="breadcrumb-list text-center text-sm-right">
                            <li class="breadcrumb-item"><a routerLink="/">Accueil</a></li>
                            <li class="breadcrumb-item active">Politique de confidentialité</li>
                        </ul>
                        <!-- breadcrumb-list end -->
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- breadcrumb-area end -->


<div id="main-wrapper">
    <div class="site-wrapper-reveal border-bottom">
        <div class="product-wrapper section-space--ptb_120">
            <div class="container">
                <style type="text/css">
                    p.p1 {
                        margin: 0.0px 0.0px 8.0px 0.0px;
                        font: 12.0px;
                        font-family: Roboto, "Helvetica Neue", sans-serif;
                        color: #000000
                    }
                
                    p.p2 {
                        margin: 0.0px 0.0px 8.0px 0.0px;
                        font: 12.0px;
                        color: #000000;
                        font-family: Roboto, "Helvetica Neue", sans-serif;
                        min-height: 15.0px
                    }
                </style>
                <p class="p1"><strong><span style="font-size: 15px;">ARTICLE 1 &ndash; RENSEIGNEMENTS PERSONNELS RECUEILLIS</span></strong></p>
                <p class="p2"><br></p>
                <p class="p1">Lorsque vous effectuez un achat sur notre boutique, dans le cadre de notre processus d&rsquo;achat et de vente, nous recueillons les renseignements personnels que vous nous fournissez, tels que votre nom, votre adresse et votre adresse e-mail.</p>
                <p class="p2"><br></p>
                <p class="p1">Lorsque vous naviguez sur notre boutique, nous recevons &eacute;galement automatiquement l&rsquo;adresse de protocole Internet (adresse IP) de votre ordinateur, qui nous permet d&rsquo;obtenir plus de d&eacute;tails au sujet du navigateur et du syst&egrave;me d&rsquo;exploitation que vous utilisez.</p>
                <p class="p2"><br></p>
                <p class="p1">Marketing par e-mail (le cas &eacute;ch&eacute;ant): Avec votre permission, nous pourrions vous envoyer des e-mails au sujet de notre boutique, de nouveaux produits et d&rsquo;autres mises &agrave; jour.</p>
                <p class="p2"><br></p>
                <p class="p2"><br></p>
                <p class="p1"><span style="font-size: 15px;"><strong>ARTICLE 2 - CONSENTEMENT</strong></span></p>
                <p class="p2"><br></p>
                <p class="p1"><strong>Comment obtenez-vous mon consentement?</strong></p>
                <p class="p2"><br></p>
                <p class="p1">Lorsque vous nous fournissez vos renseignements personnels pour conclure une transaction, v&eacute;rifier votre carte de cr&eacute;dit, passer une commande, planifier une livraison ou retourner un achat, nous pr&eacute;sumons que vous consentez &agrave; ce que nous recueillions vos renseignements et &agrave; ce que nous les utilisions &agrave; cette fin uniquement.</p>
                <p class="p2"><br></p>
                <p class="p1">Si nous vous demandons de nous fournir vos renseignements personnels pour une autre raison, &agrave; des fins de marketing par exemple, nous vous demanderons directement votre consentement explicite, ou nous vous donnerons la possibilit&eacute; de refuser.</p>
                <p class="p2"><br></p>
                <p class="p2"><br></p>
                <p class="p1"><strong>Comment puis-je retirer mon consentement?</strong></p>
                <p class="p2"><br></p>
                <p class="p1">Si apr&egrave;s nous avoir donn&eacute; votre consentement, vous changez d&rsquo;avis et ne consentez plus &agrave; ce que nous puissions vous contacter, recueillir vos renseignements ou les divulguer, vous pouvez nous en aviser en nous contactant &agrave; contact@tooneuf.com ou par courrier &agrave;: 16155 rue Delphis-delorme, H1A 1R5, Montr&eacute;al, Canada.</p>
                <p class="p2"><br></p>
                <p class="p1"><span style="font-size: 15px;"><strong>ARTICLE 3 &ndash; DIVULGATION</strong></span></p>
                <p class="p2"><br></p>
                <p class="p1">Nous pouvons divulguer vos renseignements personnels si la loi nous oblige &agrave; le faire ou si vous violez nos Conditions G&eacute;n&eacute;rales de Vente et d&rsquo;Utilisation.</p>
                <p class="p2"><br></p>
                <p class="p1"><strong><span style="font-size: 15px;">ARTICLE 4 &ndash; GO DADDY</span></strong></p>
                <p class="p2"><br></p>
                <p class="p1">Notre boutique est h&eacute;berg&eacute;e sur Godaddy Inc. Ils nous fournissent la plate-forme e-commerce en ligne qui nous permet de vous vendre nos services et produits.</p>
                <p class="p2"><br></p>
                <p class="p1">Vos donn&eacute;es sont stock&eacute;es dans le syst&egrave;me de stockage de donn&eacute;es et les bases de donn&eacute;es de Godaddy, et dans l&rsquo;application g&eacute;n&eacute;rale de Godaddy. Vos donn&eacute;es sont conserv&eacute;es sur un serveur s&eacute;curis&eacute; prot&eacute;g&eacute; par un pare-feu.</p>
                <p class="p2"><br></p>
                <p class="p2"><br></p>
                <p class="p1"><strong>Paiement</strong>:</p>
                <p class="p2"><br></p>
                <p class="p1">Si vous r&eacute;alisez votre achat par le biais d&rsquo;une passerelle de paiement direct, dans ce cas Godaddy stockera vos renseignements de carte de cr&eacute;dit. Ces renseignements sont chiffr&eacute;s conform&eacute;ment &agrave; la norme de s&eacute;curit&eacute; des donn&eacute;es &eacute;tablie par l&rsquo;industrie des cartes de paiement (norme PCI-DSS). Les renseignements relatifs &agrave; votre transaction d&rsquo;achat sont conserv&eacute;s aussi longtemps que n&eacute;cessaire pour finaliser votre commande. Une fois votre commande finalis&eacute;e, les renseignements relatifs &agrave; la transaction d&rsquo;achat sont supprim&eacute;s.</p>
                <p class="p2"><br></p>
                <p class="p1">Toutes les passerelles de paiement direct respectent la norme PCI-DSS, g&eacute;r&eacute;e par le conseil des normes de s&eacute;curit&eacute; PCI, qui r&eacute;sulte de l&rsquo;effort conjoint d&rsquo;entreprises telles que Visa, MasterCard, American Express et Discover.</p>
                <p class="p2"><br></p>
                <p class="p1">Les exigences de la norme PCI-DSS permettent d&rsquo;assurer le traitement s&eacute;curis&eacute; des donn&eacute;es de cartes de cr&eacute;dit par notre boutique et par ses prestataires de services.</p>
                <p class="p2"><br></p>
                <p class="p1">Pour plus d&rsquo;informations, veuillez consulter les Conditions d&rsquo;Utilisation de Godaddy ici ou la Politique de Confidentialit&eacute; ici.</p>
                <p class="p2"><br></p>
                <p class="p1"><span style="font-size: 15px;"><strong>ARTICLE 5 &ndash; SERVICES FOURNIS PAR DES TIERS</strong></span></p>
                <p class="p2"><br></p>
                <p class="p1">De mani&egrave;re g&eacute;n&eacute;rale, les fournisseurs tiers que nous utilisons vont uniquement recueillir, utiliser et divulguer vos renseignements dans la mesure du n&eacute;cessaire pour pouvoir r&eacute;aliser les services qu&rsquo;ils nous fournissent.</p>
                <p class="p2"><br></p>
                <p class="p1">Cependant, certains tiers fournisseurs de services, comme les passerelles de paiement et autres processeurs de transactions de paiement, poss&egrave;dent leurs propres politiques de confidentialit&eacute; quant aux renseignements que nous sommes tenus de leur fournir pour vos transactions d&rsquo;achat.</p>
                <p class="p2"><br></p>
                <p class="p1">En ce qui concerne ces fournisseurs, nous vous recommandons de lire attentivement leurs politiques de confidentialit&eacute; pour que vous puissiez comprendre la mani&egrave;re dont ils traiteront vos renseignements personnels.</p>
                <p class="p2"><br></p>
                <p class="p1">Il ne faut pas oublier que certains fournisseurs peuvent &ecirc;tre situ&eacute;s ou avoir des installations situ&eacute;es dans une juridiction diff&eacute;rente de la v&ocirc;tre ou de la n&ocirc;tre. Donc si vous d&eacute;cidez de poursuivre une transaction qui requiert les services d&rsquo;un fournisseur tiers, vos renseignements pourraient alors &ecirc;tre r&eacute;gis par les lois de la juridiction dans laquelle ce fournisseur se situe ou celles de la juridiction dans laquelle ses installations sont situ&eacute;es.</p>
                <p class="p2"><br></p>
                <p class="p1">&Agrave; titre d&rsquo;exemple, si vous &ecirc;tes situ&eacute; au Canada et que votre transaction est trait&eacute;e par une passerelle de paiement situ&eacute;e aux &Eacute;tats-Unis, les renseignements vous appartenant qui ont &eacute;t&eacute; utilis&eacute;s pour conclure la transaction pourraient &ecirc;tre divulgu&eacute;s en vertu de la l&eacute;gislation des &Eacute;tats-Unis, y compris le Patriot Act.</p>
                <p class="p2"><br></p>
                <p class="p1">Une fois que vous quittez le site de notre boutique ou que vous &ecirc;tes redirig&eacute; vers le site web ou l&rsquo;application d&rsquo;un tiers, vous n&rsquo;&ecirc;tes plus r&eacute;gi par la pr&eacute;sente Politique de Confidentialit&eacute; ni par les Conditions G&eacute;n&eacute;rales de Vente et d&rsquo;Utilisation de notre site web.</p>
                <p class="p2"><br></p>
                <p class="p1"><strong>Liens</strong></p>
                <p class="p1">Vous pourriez &ecirc;tre amen&eacute; &agrave; quitter notre site web en cliquant sur certains liens pr&eacute;sents sur notre site. Nous n&rsquo;assumons aucune responsabilit&eacute; quant aux pratiques de confidentialit&eacute; exerc&eacute;es par ces autres sites et vous recommandons de lire attentivement leurs politiques de confidentialit&eacute;.</p>
                <p class="p2"><br></p>
                <p class="p1"><span style="font-size: 15px;"><strong>ARTICLE 6 &ndash; S&Eacute;CURIT&Eacute;</strong></span></p>
                <p class="p2"><br></p>
                <p class="p1">Pour prot&eacute;ger vos donn&eacute;es personnelles, nous prenons des pr&eacute;cautions raisonnables et suivons les meilleures pratiques de l&rsquo;industrie pour nous assurer qu&rsquo;elles ne soient pas perdues, d&eacute;tourn&eacute;es, consult&eacute;es, divulgu&eacute;es, modifi&eacute;es ou d&eacute;truites de mani&egrave;re inappropri&eacute;e.</p>
                <p class="p2"><br></p>
                <p class="p1">Si vous nous fournissez vos informations de carte de cr&eacute;dit, elles seront chiffr&eacute;es par le biais de l&rsquo;utilisation du protocole de s&eacute;curisation SSL et conserv&eacute;es avec un chiffrement de type AES-256. Bien qu&rsquo;aucune m&eacute;thode de transmission sur Internet ou de stockage &eacute;lectronique ne soit s&ucirc;re &agrave; 100 %, nous suivons toutes les exigences de la norme PCI-DSS et mettons en &oelig;uvre des normes suppl&eacute;mentaires g&eacute;n&eacute;ralement reconnues par l&rsquo;industrie.</p>
                <p class="p1"><strong>FICHIERS T&Eacute;MOINS (COOKIES)</strong></p>
                <p class="p2"><br></p>
                <p class="p1">Voici une liste de fichiers t&eacute;moins que nous utilisons. Nous les avons &eacute;num&eacute;r&eacute;s ici pour que vous ayez la possibilit&eacute; de choisir si vous souhaitez les autoriser ou non.</p>
                <p class="p2"><br></p>
                <p class="p1">_session_id, identificateur unique de session, permet &agrave; Godaddy de stocker les informations relatives &agrave; votre session (r&eacute;f&eacute;rent, page de renvoi, etc.).</p>
                <p class="p2"><br></p>
                <p class="p1">_godaddy_visit, aucune donn&eacute;e retenue, persiste pendant 30 minutes depuis la derni&egrave;re visite. Utilis&eacute; par le syst&egrave;me interne de suivi des statistiques du fournisseur de notre site web pour enregistrer le nombre de visites.</p>
                <p class="p2"><br></p>
                <p class="p1">_godaddy_uniq, aucune donn&eacute;e retenue, expire &agrave; minuit (selon l&rsquo;emplacement du visiteur) le jour suivant. Calcule le nombre de visites d&rsquo;une boutique par client unique.</p>
                <p class="p2"><br></p>
                <p class="p1">cart, identificateur unique, persiste pendant 2 semaines, stocke l&rsquo;information relative &agrave; votre panier d&rsquo;achat.</p>
                <p class="p2"><br></p>
                <p class="p1">_secure_session_id, identificateur unique de session</p>
                <p class="p2"><br></p>
                <p class="p1">storefront_digest, identificateur unique, ind&eacute;fini si la boutique poss&egrave;de un mot de passe, il est utilis&eacute; pour savoir si le visiteur actuel a acc&egrave;s.</p>
                <p class="p2"><br></p>
                <p class="p1"><strong><span style="font-size: 15px;">ARTICLE 7 &ndash; &Acirc;GE DE CONSENTEMENT</span></strong></p>
                <p class="p1">En utilisant ce site, vous d&eacute;clarez que vous avez au moins l&rsquo;&acirc;ge de la majorit&eacute; dans votre &Eacute;tat ou province de r&eacute;sidence, et que vous nous avez donn&eacute; votre consentement pour permettre &agrave; toute personne d&rsquo;&acirc;ge mineur &agrave; votre charge d&rsquo;utiliser ce site web.</p>
                <p class="p2"><br></p>
                <p class="p1"><span style="font-size: 15px;"><strong>ARTICLE 8 &ndash; MODIFICATIONS APPORT&Eacute;ES &Agrave; LA PR&Eacute;SENTE POLITIQUE DE CONFIDENTIALIT&Eacute;</strong></span></p>
                <p class="p2"><br></p>
                <p class="p1">Nous nous r&eacute;servons le droit de modifier la pr&eacute;sente politique de confidentialit&eacute; &agrave; tout moment, donc veuillez s&rsquo;il vous plait la consulter fr&eacute;quemment. Les changements et les clarifications prendront effet imm&eacute;diatement apr&egrave;s leur publication sur le site web. Si nous apportons des changements au contenu de cette politique, nous vous aviserons ici qu&rsquo;elle a &eacute;t&eacute; mise &agrave; jour, pour que vous sachiez quels renseignements nous recueillons, la mani&egrave;re dont nous les utilisons, et dans quelles circonstances nous les divulguons, s&rsquo;il y a lieu de le faire.</p>
                <p class="p2"><br></p>
                <p class="p1">Si notre boutique fait l&rsquo;objet d&rsquo;une acquisition par ou d&rsquo;une fusion avec une autre entreprise, vos renseignements pourraient &ecirc;tre transf&eacute;r&eacute;s aux nouveaux propri&eacute;taires pour que nous puissions continuer &agrave; vous vendre des produits.</p>
                <p class="p2"><br></p>
                <p class="p2"><br></p>
                <p class="p1"><strong>QUESTIONS ET COORDONN&Eacute;ES</strong></p>
                <p class="p2"><br></p>
                <p class="p1">Si vous souhaitez: acc&eacute;der &agrave;, corriger, modifier ou supprimer toute information personnelle que nous avons &agrave; votre sujet, d&eacute;poser une plainte, ou si vous souhaitez simplement avoir plus d&rsquo;informations, contactez notre agent responsable des normes de confidentialit&eacute; &agrave; contact@tooneuf.com<span class="Apple-converted-space">&nbsp;</span></p>
                <p class="p2"><br></p>
                <p class="p1">[Re: Agent des Normes de Confidentialit&eacute;]</p>
                <p class="p2"><br></p>
                <p class="p1">[16155 rue Delphis-delorme MTL, H1A 1R5, Pays Canada]</p>
                
            </div>
        </div>
    </div>
</div>














<!--====================  footer area ====================-->
<app-footer2></app-footer2>

<!--====================  End of footer area  ====================-->






<!--====================  mobile menu overlay ====================-->
<app-menu></app-menu>
<!--====================  End of mobile menu overlay  ====================-->



<!--  offcanvas Minicart Start -->
<app-mini-cart></app-mini-cart>
<!--  offcanvas Minicart End -->


<!--====================  search overlay ====================-->
<app-scroll-to-top></app-scroll-to-top>