<app-header2 [cart]="cart.length"></app-header2>
<app-cookies></app-cookies>


<!-- breadcrumb-area start -->
<div class="breadcrumb-area">
    <div class="container">
        <div class="row">
            <div class="col-12">
                <div class="row breadcrumb_box  align-items-center">
                    <div class="col-lg-6 col-md-6 col-sm-6 text-center text-sm-left">
                        <h2 class="breadcrumb-title">FAQs</h2>
                    </div>
                    <div class="col-lg-6  col-md-6 col-sm-6">
                        <!-- breadcrumb-list start -->
                        <ul class="breadcrumb-list text-center text-sm-right">
                            <li class="breadcrumb-item"><a routerLink="/">Accueil</a></li>
                            <li class="breadcrumb-item active">Faqs</li>
                        </ul>
                        <!-- breadcrumb-list end -->
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- breadcrumb-area end -->


<div id="main-wrapper">
    <div class="site-wrapper-reveal border-bottom">
        <div class="product-wrapper section-space--ptb_120">
            <div class="container">
                <div class="accordion" id="accordionExample">

                    <div class="card">
                        <div class="card-header" id="heading8">
                            <h2 class="mb-0">
                                <button class="btn btn-link" type="button" data-toggle="collapse"
                                    data-target="#collapse8" aria-expanded="true" aria-controls="collapse8">
                                    Comment personnaliser mon produit ?
                                </button>
                            </h2>
                        </div>

                        <div id="collapse8" class="collapse show" aria-labelledby="heading8"
                            data-parent="#accordionExample">
                            <div class="card-body">
                                <div title="Page 3">
                                    <div>
                                        <div>
                                            <p>
                                                <i class="fas fa-angle-right"></i> Outil de personnalisation :
                                                <br />
                                                Too neuf met à votre disposition un outil de personnalisation
                                                en ligne qui vous permet d'ajouter texte et images au vêtement
                                                de votre choix. Vous pouvez même personnaliser à partir d'une
                                                tablette ou d'un téléphone intelligent.
                                            </p>
                                            <p>
                                                Notre outil de personnalisation vous permet de créer votre
                                                propre design en ligne. Commandez-le ensuite sans même quitter
                                                le site afin d'avoir vos textes, images et photos imprimés sur
                                                le vêtement choisi, qui sera ensuite livré à votre domicile.
                                            </p>
                                            <p>
                                                <i class="fas fa-angle-right"></i> Importer une image :
                                            </p>
                                            <p>
                                                Notre outil de personnalisation vous permet d'ajouter vos
                                                propres images facilement.
                                                <br />
                                                Pour une qualité d'impression maximale, assurez-vous que votre
                                                image soit de qualité suffisante. Nous conseillons fortement
                                                d'utiliser une image qui fera 300ppi (pixels par pouce).
                                                <br />
                                                Pour une image qui doit occuper la largeur maximale
                                                d'impression étant 11 pouces, la largeur de l'image doit être
                                                de 3300 pixels pour atteindre la meilleure qualité possible.
                                            </p>

                                            <p style="font-weight: 500;">Guide approximatif pour la dimension optimale
                                                d'une image:</p>

                                            <table style="width: 100%;">
                                                <tbody>
                                                    <tr>
                                                        <td style="width: 63.1188%;"><strong>Largeur Voulue pour
                                                                l&apos;impression</strong></td>
                                                        <td class="fr-cell-fixed "
                                                            style="width: 36.7162%; text-align: center;"><strong>Largeur
                                                                de l&apos;image</strong></td>
                                                    </tr>
                                                    <tr>
                                                        <td style="width: 63.1188%;">Petit logo c&ocirc;t&eacute;
                                                            coeur&nbsp;</td>
                                                        <td style="width: 36.7162%; text-align: center;">1000 pixels
                                                        </td>
                                                    </tr>
                                                    <tr>
                                                        <td style="width: 63.1188%;">Impression de la moiti&eacute; de
                                                            la largeur du t-shirt</td>
                                                        <td style="width: 36.7162%; text-align: center;">1500 pixels
                                                        </td>
                                                    </tr>
                                                    <tr>
                                                        <td style="width: 63.1188%;">Impression pleine largeur</td>
                                                        <td class="fr-cell-handler "
                                                            style="width: 36.7162%; text-align: center;">2500 pixels
                                                        </td>
                                                    </tr>
                                                </tbody>
                                            </table>
                                            <br>
                                            <div title="Page 3">
                                                <div>
                                                    <div>
                                                        <p>
                                                            Nous conseillons aussi d'utiliser un format sans
                                                            compression,
                                                            tel que PNG, PSD ou TIFF, afin de conserver tous les
                                                            détails
                                                            de l'image.
                                                        </p>
                                                        <p>
                                                            Taille d’impression :
                                                        </p>
                                                        <p>
                                                            Notre procédé d'impression nous offre une grande
                                                            flexibilité
                                                            sur l'emplacement et la taille de l'impression, allant
                                                            jusqu'à
                                                            11 pouces de largeur par 16 pouces de hauteur. Si vous avez
                                                            tout de même besoin d'une zone plus grande, n'hésitez pas
                                                            à
                                                            nous contacter, nous avons sans doute une solution pour vous
                                                            accomoder!
                                                        </p>
                                                    </div>
                                                </div>
                                            </div>


                                        </div>
                                    </div>
                                </div>
                                <br>
                                <img src="assets/images/support/1.png" alt="">
                                <br><br>
                                <img src="assets/images/support/2.png" alt="">
                                <p>Voici un aperçu des dimensions de l'impression sur un t-shirt.</p>
                                <br>
                                <p>Il est important de noter que les tailles de vêtements changent beaucoup de petit à X-large, mais la zone d'impression reste la même. La personnalisation semblera relativement plus petite sur un vêtement de grande taille.</p>

                            </div>
                        </div>
                    </div>

                    <div class="card">
                        <div class="card-header" id="headingç">
                            <h2 class="mb-0">
                                <button class="btn btn-link" type="button" data-toggle="collapse"
                                    data-target="#collapse9" aria-expanded="false" aria-controls="collapse9">
                                    Comment passer une commande ?
                                </button>
                            </h2>
                        </div>

                        <div id="collapse9" class="collapse" aria-labelledby="heading9"
                            data-parent="#accordionExample">
                            <div class="card-body">
                                <p>
                                    <span style="font-weight: 600;">
                                        Changer ou annuler une commande :
                                    </span>
                                    <br>
                                    Si vous avez fait une erreur lors de votre commande ou désirez y apporter un changement, contactez-nous dès que possible. Par contre, si la commande a été traitée, il sera trop tard pour y apporter des changements.
                                </p>
                                <p>
                                    <span style="font-weight: 600;">
                                        Méthodes de paiement :
                                    </span>
                                    <br>
                                    Nous acceptons plusieurs types de paiements, incluant entre autres Visa, MasterCard, et Paypal.
                                </p>
                            </div>
                        </div>
                    </div>


                    <div class="card">
                        <div class="card-header" id="headingOne">
                            <h2 class="mb-0">
                                <button class="btn btn-link" type="button" data-toggle="collapse"
                                    data-target="#collapseOne" aria-expanded="false" aria-controls="collapseOne">
                                    Quel est le temps d’expédition?
                                </button>
                            </h2>
                        </div>

                        <div id="collapseOne" class="collapse" aria-labelledby="headingOne"
                            data-parent="#accordionExample">
                            <div class="card-body">
                                Nous prenons 2-4 jours pour traiter votre commande puis 7-10 jours pour vous la livrer.
                            </div>
                        </div>
                    </div>

                    <div class="card">
                        <div class="card-header" id="headingTwo">
                            <h2 class="mb-0">
                                <button class="btn btn-link collapsed" type="button" data-toggle="collapse"
                                    data-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
                                    Expédiez-vous partout dans le monde?
                                </button>
                            </h2>
                        </div>
                        <div id="collapseTwo" class="collapse" aria-labelledby="headingTwo"
                            data-parent="#accordionExample">
                            <div class="card-body">
                                Oui, absolument. Nous livrons dans le monde entier.
                            </div>
                        </div>
                    </div>

                    <div class="card">
                        <div class="card-header" id="headingThree">
                            <h2 class="mb-0">
                                <button class="btn btn-link collapsed" type="button" data-toggle="collapse"
                                    data-target="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
                                    D’où expédions-nous votre produit?
                                </button>
                            </h2>
                        </div>
                        <div id="collapseThree" class="collapse" aria-labelledby="headingThree"
                            data-parent="#accordionExample">
                            <div class="card-body">
                                Nos bureaux sont situé à Montréal, au Canada.
                            </div>
                        </div>
                    </div>

                    <div class="card">
                        <div class="card-header" id="heading3">
                            <h2 class="mb-0">
                                <button class="btn btn-link collapsed" type="button" data-toggle="collapse"
                                    data-target="#collapse3" aria-expanded="false" aria-controls="collapse3">
                                    Y a-t-il un suivi de colis?
                                </button>
                            </h2>
                        </div>
                        <div id="collapse3" class="collapse" aria-labelledby="heading3"
                            data-parent="#accordionExample">
                            <div class="card-body">
                                Oui, attendez 3 jours après votre commande et demandez nous via email à
                                contact@tooneuf.com.
                            </div>
                        </div>
                    </div>


                    <div class="card">
                        <div class="card-header" id="heading4">
                            <h2 class="mb-0">
                                <button class="btn btn-link collapsed" type="button" data-toggle="collapse"
                                    data-target="#collapse4" aria-expanded="false" aria-controls="collapse4">
                                    J’ai reçu un article endommagé. Que puis-je faire?
                                </button>
                            </h2>
                        </div>
                        <div id="collapse4" class="collapse" aria-labelledby="heading4" data-parent="#accordionExample">
                            <div class="card-body">
                                Nous sommes navrés d’entendre cela. Envoyez-nous simplement une image de l’article
                                endommagé en question à l'adresse email: contact@tooneuf.com et nous vous enverrons un
                                article similaire de remplacement aussi vite que possible.

                            </div>
                        </div>
                    </div>

                    <div class="card">
                        <div class="card-header" id="heading5">
                            <h2 class="mb-0">
                                <button class="btn btn-link collapsed" type="button" data-toggle="collapse"
                                    data-target="#collapse5" aria-expanded="false" aria-controls="collapse5">
                                    Où êtes-vous situés?
                                </button>
                            </h2>
                        </div>
                        <div id="collapse5" class="collapse" aria-labelledby="heading5" data-parent="#accordionExample">
                            <div class="card-body">
                                Nous sommes situés à Montréal en Canada.
                            </div>
                        </div>
                    </div>

                    <div class="card">
                        <div class="card-header" id="heading6">
                            <h2 class="mb-0">
                                <button class="btn btn-link collapsed" type="button" data-toggle="collapse"
                                    data-target="#collapse6" aria-expanded="false" aria-controls="collapse6">
                                    Je n’ai toujours pas reçu ma commande.
                                </button>
                            </h2>
                        </div>
                        <div id="collapse6" class="collapse" aria-labelledby="heading6" data-parent="#accordionExample">
                            <div class="card-body">
                                Nous vous prions de nous excuser pour le retard. Parfois, l’expédition internationale
                                peut prendre plus de temps que prévu en raison du dédouanement. Vous pouvez par contre
                                tracer votre commande et voir où elle se trouve à tout moment. Si vous estimez toujours
                                avoir besoin d’aide dans le traçage de votre paquet ou que vous souhaitez vous
                                renseigner sur cette dernière, veuillez communiquer avec nous par courriel à l'adresse
                                suivante: contact@tooneuf.com
                            </div>
                        </div>
                    </div>

                    <div class="card">
                        <div class="card-header" id="heading7">
                            <h2 class="mb-0">
                                <button class="btn btn-link collapsed" type="button" data-toggle="collapse"
                                    data-target="#collapse7" aria-expanded="false" aria-controls="collapse7">
                                    Avez-vous une politique de remboursement?
                                </button>
                            </h2>
                        </div>
                        <div id="collapse7" class="collapse" aria-labelledby="heading7" data-parent="#accordionExample">
                            <div class="card-body">
                                Nous faisons de notre mieux pour résoudre tous les problèmes que nos clients pourraient
                                rencontrer avec leurs articles en ligne. Si vous désirez tout de même recevoir un
                                remboursement sur votre commande, nous pouvons bien entendu accomplir le payement, dans
                                le cas où le recours est fait dans les 30 jours suivant la date de la commande et que le
                                ou les produits concernés ne sont pas soldés. Pour plus d’informations, veuillez en lire
                                d’avantage sur notre politique de remboursement lien de <a
                                    style="color: rgba(8, 143, 204, 0.7); text-decoration: underline;"
                                    routerLink="/refund">la politique de remboursement</a>
                            </div>
                        </div>
                    </div>


                </div>
            </div>
        </div>
    </div>
</div>














<!--====================  footer area ====================-->
<app-footer2></app-footer2>

<!--====================  End of footer area  ====================-->






<!--====================  mobile menu overlay ====================-->
<app-menu></app-menu>
<!--====================  End of mobile menu overlay  ====================-->



<!--  offcanvas Minicart Start -->
<app-mini-cart></app-mini-cart>
<!--  offcanvas Minicart End -->


<!--====================  search overlay ====================-->
<app-scroll-to-top></app-scroll-to-top>