<div class="modal fade" id="cookieModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
    aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-body">
                <div class="notice d-flex justify-content-between align-items-center">
                    <div class="cookie-text">Ce site web utilise des cookies pour personnaliser le contenu et analyser le trafic afin de vous offrir une meilleure expérience.</div>
                    <div class="buttons d-flex flex-column flex-lg-row">
                        <a (click)="agree()" class="btn btn-success btn-sm" data-dismiss="modal">I accept</a>
                        <a routerLink="/privacy-policy" class="btn btn-secondary btn-sm" data-dismiss="modal">Learn More</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
