<div class="offcanvas-minicart_wrapper" id="miniCart">
    <div class="offcanvas-menu-inner">
        <div class="close-btn-box">
            <a href="#" class="btn-close"><i class="icon-cross2"></i></a>
        </div>
        <div class="minicart-content">
            <ul class="minicart-list">
                
                <li class="minicart-product" *ngFor="let c of cart; let i = index">
                    <a class="product-item_remove" (click)="remove(i)"><i class="icon-cross2"></i></a>
                    <a class="product-item_img">
                        <img class="img-fluid" style="width: 76px; height: 76px;" src="assets/images/product/{{ c[0].short_name }}-{{ c[0].color }}.png"  alt="{{ c[0].short_name }}-{{ c[0].color }}">
                    </a>
                    <div class="product-item_content">
                        <a class="product-item_title" href="product-details.html">{{ c[0].name }}</a>
                        <label>Qté : <span>{{ c[0].qty }}</span></label>
                        <label class="product-item_quantity">Prix: <span> ${{ c[0].qty*c[0].price }}</span></label>
                    </div>
                </li>
                

            </ul>
        </div>
        <div class="minicart-item_total">
            <span class="font-weight--reguler">Subtotal:</span>
            <span class="ammount font-weight--reguler">${{ totalHT }}</span>
        </div>
        <div class="minicart-btn_area">
            <a routerLink="/cart" class="btn btn--full btn--border_1">View cart</a>
        </div>
        <div class="minicart-btn_area">
            <a routerLink="/checkout" class="btn btn--full btn--black">Checkout</a>
        </div>
    </div>

    <div class="global-overlay"></div>
</div>


