<app-header2></app-header2>



<!-- breadcrumb-area start -->
<div class="breadcrumb-area">
    <div class="container">
        <div class="row">
            <div class="col-12">
                <div class="row breadcrumb_box  align-items-center">
                    <div class="col-lg-6 col-md-6 col-sm-6 text-center text-sm-left">
                        <h2 class="breadcrumb-title">{{name}}</h2>
                    </div>
                    <div class="col-lg-6  col-md-6 col-sm-6">
                        <!-- breadcrumb-list start -->
                        <ul class="breadcrumb-list text-center text-sm-right">
                            <li class="breadcrumb-item"><a routerLink="/">Accueil</a></li>
                            <li class="breadcrumb-item active"><a routerLink="/shop">Boutique</a></li>
                        </ul>
                        <!-- breadcrumb-list end -->
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- breadcrumb-area end -->


<div id="main-wrapper">

    
<!-- Product Area End -->

<!--====================  footer area ====================-->
<app-footer2></app-footer2>
<!--====================  End of footer area  ====================-->


</div>


<!--====================  mobile menu overlay ====================-->
<app-menu></app-menu>
<!--====================  End of mobile menu overlay  ====================-->



<!--  offcanvas Minicart Start -->
<app-mini-cart></app-mini-cart>
<!--  offcanvas Minicart End -->


<!--====================  search overlay ====================-->
<app-scroll-to-top></app-scroll-to-top>