<app-header2 [cart]="cart.length"></app-header2>



<!-- breadcrumb-area start -->
<div class="breadcrumb-area">
    <div class="container">
        <div class="row">
            <div class="col-12">
                <div class="row breadcrumb_box  align-items-center">
                    <div class="col-lg-6 col-md-6 col-sm-6 text-center text-sm-left">
                        <h2 class="breadcrumb-title">{{name}}</h2>
                    </div>
                    <div class="col-lg-6  col-md-6 col-sm-6">
                        <!-- breadcrumb-list start -->
                        <ul class="breadcrumb-list text-center text-sm-right">
                            <li class="breadcrumb-item"><a routerLink="/">Accueil</a></li>
                            <li class="breadcrumb-item active"><a routerLink="/shop">Boutique</a></li>
                        </ul>
                        <!-- breadcrumb-list end -->
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- breadcrumb-area end -->


<div id="main-wrapper">
    <div class="site-wrapper-reveal">

        <div class="single-product-wrap section-space--pt_90 border-bottom">
            <div class="container">
                <div class="row">
                    <div class="col-lg-7 col-md-6 col-sm-12 col-xs-12">

                        <!-- Product Details Left -->
                        <div class="product-details-left">
                            <div class="product-details-images-2 slider-lg-image-2">

                                <div class="" *ngFor="let vari of variantes">
                                    <div style="position:relative;" class="">
                                        <a href="assets/images/product/{{vari.image}}.png" class="poppu-img"
                                            style="z-index:1">
                                            <img src="assets/images/product/{{vari.image}}.png" class="img-fluid"
                                                alt="">
                                        </a>
                                        <div class="text-personalize-cup" *ngIf="short_name === 'cup'" >
                                            <div style="text-align: center; width: 40%; margin: 0 auto;">
                                                <p
                                                    [ngStyle]="{'color': (t_color === 'black') ? 'black' : (t_color === 'white') ? 'white' : (t_color === 'red') ? 'red' : (t_color === 'blue') ? 'blue': '','font-weight': (t_weight === true) ? 'bold' : 'normal', 'font-style': (t_style === true) ? 'italic' : 'normal'}">
                                                    {{ t_perso }}</p>
                                            </div>
                                        </div>

                                        <div class="text-personalize" *ngIf="short_name === 'tshirt'" >
                                            <div style="text-align: center; width: 40%; margin: 0 auto;">
                                                <p
                                                    [ngStyle]="{'color': (t_color === 'black') ? 'black' : (t_color === 'white') ? 'white' : (t_color === 'red') ? 'red' : (t_color === 'blue') ? 'blue': '','font-weight': (t_weight === true) ? 'bold' : 'normal', 'font-style': (t_style === true) ? 'italic' : 'normal'}">
                                                    {{ t_perso }}</p>
                                            </div>
                                        </div>

                                        <div class="text-personalize" *ngIf="short_name === 'cap'" >
                                            <div style="text-align: center; width: 40%; margin: 0 auto;">
                                                <p
                                                    [ngStyle]="{'color': (t_color === 'black') ? 'black' : (t_color === 'white') ? 'white' : (t_color === 'red') ? 'red' : (t_color === 'blue') ? 'blue': '','font-weight': (t_weight === true) ? 'bold' : 'normal', 'font-style': (t_style === true) ? 'italic' : 'normal'}">
                                                    {{ t_perso }}</p>
                                            </div>
                                        </div>

                                    </div>

                                    <!-- <div style="position:relative; height:400px">
                                        <div style="position:absolute;z-index:1">
                                           <img src="assets/images/product/cap-white.png">
                                        </div>
                                        <div style="position:absolute;top:270px; width:600px; height:400px; z-index:2;font-size:18px">
                                           <div style="text-align: center;">
                                            <b>Ma maison...</b>
                                           </div>
                                         </div> 
                                     </div> -->
                                </div>

                            </div>
                            <div class="product-details-thumbs-2 slider-thumbs-2">
                                <div class="sm-image" *ngFor="let vari of variantes"><img
                                        src="assets/images/product/{{ vari.image }}.png"
                                        style="width: 100px; height: 100px;" alt="product image thumb"></div>

                            </div>
                        </div>
                        <!--// Product Details Left -->

                    </div>
                    <div class="col-lg-5 col-md-6 col-sm-12 col-xs-12">
                        <div class="product-details-content ">

                            <h5 class="font-weight--reguler mb-10">{{name}}</h5>

                            <h3 class="price">${{price}}</h3>


                            <div class="product-size-wrapper mt-20" *ngIf="is_size">
                                <div class="tab-content d-flex">
                                    <label class="mr-2">Size</label>
                                    <div class="tab-pane fade show active" id="tab_list_l">
                                        {{size}}
                                    </div>
                                    <div class="tab-pane fade" id="tab_list_m">
                                        M
                                    </div>
                                    <div class="tab-pane fade" id="tab_list_s">
                                        S
                                    </div>
                                </div>

                                <ul class="nav product-size-menu" role="tablist" *ngIf="is_size">
                                    <li class="tab__item nav-item active">
                                        <a class="nav-link active" data-toggle="tab" role="tab"
                                            (click)="changeSize('S')">S</a>
                                    </li>
                                    <li class="tab__item nav-item">
                                        <a class="nav-link" data-toggle="tab" role="tab" (click)="changeSize('M')">M</a>
                                    </li>
                                    <li class="tab__item nav-item">
                                        <a class="nav-link " data-toggle="tab" role="tab"
                                            (click)="changeSize('L')">L</a>
                                    </li>
                                    <li class="tab__item nav-item ">
                                        <a class="nav-link " data-toggle="tab" role="tab"
                                            (click)="changeSize('XL')">XL</a>
                                    </li>
                                    <li class="tab__item nav-item">
                                        <a class="nav-link " data-toggle="tab" role="tab"
                                            (click)="changeSize('2XL')">2XL</a>
                                    </li>
                                </ul>
                            </div>


                            <div class="product-color-wrapper mt-20">
                                <div class="tab-content d-flex">
                                    <label class="mr-2">Color </label>
                                    <div class="tab-pane fade active" id="tab_list_white">
                                        {{color}}
                                    </div>

                                </div>

                                <ul class="nav product-color-menu" role="tablist">

                                    <li *ngFor="let vari of variantes" class="tab__item nav-item"
                                        (click)="changeColor(vari.couleur)">
                                        <span class="dot-{{vari.couleur}}"></span>
                                    </li>


                                </ul>

                            </div>
                            <div *ngIf="!is_p" class="place-order mt-30">
                                <a (click)="perso_is_open(true)" class="btn--full btn--black btn--lg text-center">Personnaliser Votre {{ name }}</a>
                            </div>

                            <div *ngIf="is_p">

                                <div class="quickview-action-wrap mt-30">
                                    <label>Texte</label>
                                    <input type="text" class="form-control" maxlength="30" [(ngModel)]="t_perso">
                                </div>

                                <div class="variable-color-selector mt-20 variations">
                                    <label>Couleur</label>
                                    <select [(ngModel)]="t_color">
                                        <option value="black" class="attached enabled">Noire</option>
                                        <option value="white" class="attached enabled">Blanche</option>
                                        <option value="red" class="attached enabled">Rouge</option>
                                        <option value="blue" class="attached enabled">Bleu</option>
                                    </select>
                                </div>

                                <div class="variable-color-selector mt-20 variations">
                                    <label>Forme</label><br>
                                    <a *ngIf="!t_c_weight" style="cursor: pointer;" (click)="change_t_w(true)"> <img
                                            src="assets/images/icons/bold.svg" width="15"> </a>
                                    <a *ngIf="t_c_weight" style="cursor: pointer;" (click)="change_t_w(false)"> <img
                                            src="assets/images/icons/bold-click.svg" width="15"> </a>
                                    &nbsp;&nbsp;

                                    <a *ngIf="!t_c_style" style="cursor: pointer;" (click)="change_t_f(true)"> <img
                                            src="assets/images/icons/italic.svg" width="15"> </a>
                                    <a *ngIf="t_c_style" style="cursor: pointer;" (click)="change_t_f(false)"> <img
                                            src="assets/images/icons/italic-click.svg" width="15"> </a>

                                </div>

                                <div class="place-order mt-30" >
                                    <a (click)="perso_is_open(false)" class="btn--full btn--black btn--lg text-center">Fermer l'outil</a>
                                </div>

                            </div>


                            <div class="quickview-action-wrap mt-30">
                                <div class="quickview-cart-box">
                                    <div class="quickview-quality">
                                        <div class="cart-plus-minus">
                                            <input [(ngModel)]="qty" class="cart-plus-minus-box" type="text" name="qtybutton" >
                                        </div>
                                    </div>

                                    <div class="quickview-button">
                                        <div class="quickview-cart button">
                                            <a (click)="addCart(produit)" class="btn--lg btn--black font-weight--reguler text-white">Add to
                                                cart</a>
                                        </div>

                                    </div>
                                </div>
                            </div>
                            

                            



                        </div>
                    </div>
                </div>






            </div>
        </div>

    </div>


    <!-- Product Area End -->

    <!--====================  footer area ====================-->
    <app-footer2></app-footer2>
    <!--====================  End of footer area  ====================-->


</div>


<!--====================  mobile menu overlay ====================-->
<app-menu></app-menu>
<!--====================  End of mobile menu overlay  ====================-->



<!--  offcanvas Minicart Start -->
<app-mini-cart></app-mini-cart>
<!--  offcanvas Minicart End -->


<!--====================  search overlay ====================-->
<app-scroll-to-top></app-scroll-to-top>