<div class="offcanvas-minicart_wrapper" id="miniMenu">
    <div class="offcanvas-menu-inner">
        <div class="close-btn-box">
            <a href="#" class="btn-close"><i class="icon-cross2"></i></a>
        </div>
        <div class="minicart-content">
            <div class="mobile-menu-overlay__body">

                <nav class="offcanvas-navigation">
                    <ul>
                        <li class="">
                            <a routerLink="/">Accueil</a>
                        </li>
                        <li class="">
                            <a routerLink="/create-own/2">Personnaliser</a>
                        </li>
                        <li class="">
                            <a routerLink="/contact-us">Contact</a>
                        </li>
                    </ul>
                </nav>

                <div class="mobile-menu-contact-info section-space--mt_60">
                    <h6>Contact Us</h6>
                    <p>Montreal, Quebec, Canada <br>contact@tooneuf.com <br>+1 (514) 929-8787</p>
                </div>

                <div class="mobile-menu-social-share section-space--mt_60">
                    <h6>Follow US On Socials</h6>
                    <ul class="social-share">
                        <li><a href="#"><i class="social social_facebook"></i></a></li>
                        <li><a href="#"><i class="social social_twitter"></i></a></li>
                        <li><a href="#"><i class="social social_googleplus"></i></a></li>
                        <li><a href="#"><i class="social social_linkedin"></i></a></li>
                        <li><a href="#"><i class="social social_pinterest"></i></a></li>
                    </ul>
                </div>
            </div>
        </div>

    </div>

</div>