<!--====================  header area ====================-->
<app-header2 [cart]="cart.length"></app-header2>
<!--====================  End of header area  ====================-->



<div id="main-wrapper">
    <div class="site-wrapper-reveal">

        <!-- Hero Slider Area Start -->
        <div class="hero-area hero-slider-five">
            <div class="single-hero-slider-five">
                <div class="container">
                    <div class="row">
                        <div class="col-lg-12">
                            <div class="hero-content-wrap">
                                <div class="hero-text-five mt-lg-5">
                                    <h6 class=" mb-30 small-title">
                                        TOO NEUF <br> COLLECTION <br> 2021
                                    </h6>
                                    <h1>T-shirt  <br> Custom</h1>

                                    <div class="button-box section-space--mt_60">
                                        <a routerLink="/shop" class="text-btn-normal font-weight--reguler font-lg-p">Voir Collection <i class="icon-arrow-right"></i></a>
                                    </div>
                                </div>
                                <div class="inner-images">
                                    <div class="image-one">
                                        <img src="assets/images/hero/home-full-width-2.png" class="img-fluid" alt="Image">
                                    </div>
                                    <div class="image-two" style="left: 60px;">
                                        <img src="assets/images/hero/home-full-width-4.png" class="img-fluid" alt="Image">
                                    </div>
                                </div>
                            </div>
                        </div>

                    </div>
                </div>
            </div>
            <div class="single-hero-slider-five">
                <div class="container">
                    <div class="row">
                        <div class="col-lg-12">
                            <div class="hero-content-wrap">
                                <div class="hero-text-five mt-lg-5">
                                    <h6 class=" mb-30 small-title">
                                        TOO NEUF <br> COLLECTION <br> 2021
                                    </h6>
                                    <h1>Tasse  <br> Custom</h1>
                                    <div class="button-box section-space--mt_60">
                                        <a routerLink="/shop" class="text-btn-normal font-weight--reguler font-lg-p">Voir Collection <i class="icon-arrow-right"></i></a>
                                    </div>
                                </div>
                                <div class="inner-images">
                                    <div class="image-one">
                                        <img src="assets/images/hero/home-full-width-2.png" class="img-fluid" alt="Image">
                                    </div>
                                    <div class="image-two" style="width: 300px;">
                                        <img src="assets/images/hero/cup-custom.png" class="img-fluid" alt="Image">
                                    </div>
                                </div>
                            </div>
                        </div>

                    </div>
                </div>
            </div>


        </div>
        <!-- Hero Slider Area End -->

        <div class="featuted-product-wrap section-space--pt_120">
            <div class="container">
                <div class="row align-items-center featuted-product-one">
                    <div class="col-lg-6 col-md-6 order-md-1 order-1">
                        <div class="product-thumbnail">
                            <a routerLink="/shop/product/1"><img src="assets/images/featured-product/df-1.png" class="img-fluid" alt="Featured Image"></a>
                        </div>
                    </div>
                    <div class="col-lg-6 col-md-6 order-md-2 order-2">
                        <div class="featured-product-contect">
                            <h6 class="sub-heading mb-2">PRODUITS LE PLUS PERSONNALISÉ</h6>
                            <h2 class="section-title--one"><a routerLink="/shop/product/1">Tasse</a></h2>
                            <p class="mt-30">Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s.</p>
                            <div class="button-box section-space--mt_60">
                                <a routerLink="/shop/product/1" class="btn btn--md btn--border_1">Seulement $25 <i class="icon-arrow-right"></i></a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
           
        </div>

        <div class="featuted-product-wrap section-space--pt_120">
            <div class="container">
                <div class="row align-items-center featuted-product-one">
                    <div class="col-lg-6 col-md-6 order-md-2 order-1">
                        <div class="product-thumbnail">
                            <a routerLink="/shop/product/0"><img src="assets/images/featured-product/df-2.png" class="img-fluid" alt="Featured Image"></a>
                        </div>
                    </div>
                    <div class="col-lg-6 col-md-6 order-md-1 order-2">
                        <div class="featured-product-contect">
                            <h6 class="sub-heading mb-2">PRODUITS LE PLUS PERSONNALISÉS
                            </h6>
                            <h2 class="section-title--one"><a routerLink="/shop/product/0">Casquette</a></h2>
                            <p class="mt-30">Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s.</p>
                            <div class="button-box section-space--mt_60">
                                <a routerLink="/shop/product/0" class="btn btn--md btn--border_1">Seulement $25 <i class="icon-arrow-right"></i></a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
           
        </div>


        

        <!-- Offer Colection Area Start -->
        <div class="offer-colection-area">
            <div class="section-space--ptb_120 bg-img" data-bg="assets/images/bg/gift_box.png">
                <div class="container">
                    <div class="row">
                        <div class="container">
                            <div class="row">
                                <div class="col-lg-7 col-md-9">
                                    <div class="colection-info-wrap">
                                        <div class="section-title mb-10">
                                            <h2 class="h-lg"><span class="text-red">25% Réduction</span> Deux Articles</h2>
                                        </div>
                                        <p class="font-lg-p">Free shipping over $125 for international orders</p>
                                        <div class="button-box section-space--mt_60">
                                            <a class="text-btn-normal font-weight--bold font-lg-p">Discover now <i class="icon-arrow-right"></i></a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- Offer Colection Area End -->


    
    </div>














    <!--====================  footer area ====================-->
    <app-footer2></app-footer2>
    <!--====================  End of footer area  ====================-->









</div>



<!--====================  mobile menu overlay ====================-->
<app-menu></app-menu>
<!--====================  End of mobile menu overlay  ====================-->



<!--  offcanvas Minicart Start -->
<app-mini-cart></app-mini-cart>
<!--  offcanvas Minicart End -->


<!--====================  scroll top ====================-->
<app-scroll-to-top></app-scroll-to-top>