// .single-hero-slider-7 .one h4 {
//     color: white;
//     font-weight: 800;
// }

// .single-hero-slider-7 h4 {
//     font-weight: 800;
// }

// .single-hero-slider-one {
//     background: rgb(8, 143, 204);
// }

.hero-text h1 {
    color: white;
}

.hero-content-wrap {
    text-align: center;
}

.hero-div-custom {
    padding: 10px;
}

.hero-div-custom-tshirt {
    background-color: rgba(255, 255, 255, 0.7);
}

.hero-text-7 .hero-div-custom-tshirt h2 {
    color: #000;
}

.hero-div-custom-bodysuit {
    background-color: rgba(8, 143, 204, 0.7);
}

.hero-div-custom h2 {
    font-size: 20px;
    text-align: center;
    text-transform: uppercase;
    color: white;
}




.section-btn-design {
    margin: 40px;
    text-align: center;
}

.section-btn-design button {
    background-color: rgb(8, 143, 204);
    color: white;
    text-transform: uppercase;
    animation: zoom-in-zoom-out 2s ease-out a;
}

@keyframes zoom-in-zoom-out {
    0% {
      transform: scale(1, 1);
    }
    50% {
      transform: scale(1.2, 1.2);
    }
    100% {
      transform: scale(1, 1);
    }
  }


.offer-colection-area .bg {
    background-color: #f2f2f2;
    padding-bottom: 30px;
    padding-left: 10px;
    padding-right: 10px;
    text-align: center;
}

.offer-colection-area .single-support-item h1,
.offer-colection-area .single-support-item h6 {
    color: rgb(0, 0, 0);
}

.trust-section{
    padding: 30px;
    background-color: blanchedalmond;
}

.trust-section .trust-section-item {
    text-align: center;
    margin-bottom: 30px;
}

.trust-section .trust-section-item h3 {
    font-weight: 800;
    font-size: 20px;
}

.trust-section .trust-section-item p {
    font-weight: 200;
    color: #000;
}

.trust-section .icon {
    margin-bottom: 5px;
}

.trust-section .icon img {
    width: 50px;
}

.trust-section .ssl-paypal {
    width: 200px;
    margin-top: -10px;
}

.about {
    margin-bottom: 25px;
}

.about .about-img img {
    width: 80%;
}

.section-header {
    position: relative;
    max-width: 600px;
    margin: 0 auto;
    margin-bottom: 45px;
}

.section-header p {
    display: inline-block;
    margin: 0 30px;
    margin-bottom: 5px;
    padding: 0 10px;
    position: relative;
    font-size: 16px;
    font-weight: 600;
    background: #ffffff;
}

.section-header p::after {
    position: absolute;
    content: "";
    height: 2px;
    top: 11px;
    right: -30px;
    left: -30px;
    background: rgb(8, 143, 204);
    z-index: -1;
}

.section-header h2 {
    margin: 0;
    position: relative;
    font-size: 40px;
    font-weight: 700;
}

.about-us-content_6 h2{
    font-size: 27px;
    font-weight: 900;

}

.t_etape_perso{
    text-align: center;
    padding-top: 20px;
    
}

.t_etape_perso h2{
    font-size: 35px;
  font-family: 'Prompt', 'Arial Narrow', Arial, sans-serif;
  font-weight: 700;
  
}

@media (max-width: 767.98px) {
    .section-header h2 {
        font-size: 30px;
    }
}


// .container-fluid .slide-one{
//     background: url('assets/images/hero/home-4.jpeg')
  
//   }

.overlay {
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  
  opacity: .7;
  transition: .5s ease;
  background-color: #e9e9e9;
  z-index: 3;
}


.banner_car h1{
    color: white;
    font-size: 28px;
    font-weight: 500;
}
.banner_car span{
    color: white;
    font-size: 12px;
    font-weight: 500;
}


.banner_car{
padding: 40px;
background-color: rgba(0, 0, 0, 0.6);
  position: absolute;
  top: 0%;
  left: 25%;
  height: 250px;
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  text-align: center;
  z-index: 100;
}

@media screen and (max-width: 524px) {
    .banner_car{
        padding: 40px;
        background-color: rgba(0, 0, 0, 0.6);
          position: absolute;
          top: 0%;
          left: 50%;
          height: 250px;
          -webkit-transform: translate(-50%, -50%);
          -ms-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
          text-align: center;
          z-index: 100;
        }
}


.single-support-item img{
    width: 50px;
}


#popup-newsletter-success {
    display: none; /* Hidden by default. Visible on click */
    min-width: 250px; /* Set a default minimum width */
    margin-left: -125px; /* Divide value of min-width by 2 */
    background-color: #28a745; /* Black background color */
    color: #fff; /* White text color */
    text-align: center; /* Centered text */
    border-radius: 2px; /* Rounded borders */
    padding: 16px; /* Padding */
    position: fixed; /* Sit on top of the screen */
    z-index: 10000; /* Add a z-index if needed */
    left: 50%; /* Center the snackbar */
    top: 30px; /* 30px from the bottom */
}

/* Show the snackbar when clicking on a button (class added with JavaScript) */
#popup-newsletter-success.show {
    visibility: visible; /* Show the snackbar */
    /* Add animation: Take 0.5 seconds to fade in and out the snackbar.
    However, delay the fade out process for 2.5 seconds */
    -webkit-animation: fadein 0.5s, fadeout 0.5s 2.5s;
    animation: fadein 0.5s, fadeout 0.5s 2.5s;
}


#popup-newsletter-info {
    display: none; /* Hidden by default. Visible on click */
    min-width: 250px; /* Set a default minimum width */
    margin-left: -125px; /* Divide value of min-width by 2 */
    background-color: rgb(8, 143, 204); /* Black background color */
    color: #fff; /* White text color */
    text-align: center; /* Centered text */
    border-radius: 2px; /* Rounded borders */
    padding: 16px; /* Padding */
    position: fixed; /* Sit on top of the screen */
    z-index: 10000; /* Add a z-index if needed */
    left: 50%; /* Center the snackbar */
    top: 30px; /* 30px from the bottom */
}

/* Show the snackbar when clicking on a button (class added with JavaScript) */
#popup-newsletter-info.show {
    visibility: visible; /* Show the snackbar */
    /* Add animation: Take 0.5 seconds to fade in and out the snackbar.
    However, delay the fade out process for 2.5 seconds */
    -webkit-animation: fadein 0.5s, fadeout 0.5s 2.5s;
    animation: fadein 0.5s, fadeout 0.5s 2.5s;
}


/* Animations to fade the snackbar in and out */
@-webkit-keyframes fadein {
    from {
        bottom: 0;
        opacity: 0;
    }
    to {
        bottom: 30px;
        opacity: 1;
    }
}

@keyframes fadein {
    from {
        bottom: 0;
        opacity: 0;
    }
    to {
        bottom: 30px;
        opacity: 1;
    }
}

@-webkit-keyframes fadeout {
    from {
        bottom: 30px;
        opacity: 1;
    }
    to {
        bottom: 0;
        opacity: 0;
    }
}

@keyframes fadeout {
    from {
        bottom: 30px;
        opacity: 1;
    }
    to {
        bottom: 0;
        opacity: 0;
    }
}