<app-header2 [cart]="cart.length"></app-header2>


<div id="main-wrapper">
    <div class="site-wrapper-reveal">
        <!-- Hero Slider Area Start -->
        <div class="hero-area overflow-hidden">
            <!-- <div class="single-hero-slider-7"> -->
            <div class="container-fluid ml-0 mr-0">
                <div class="row row--25 hero-slider-8">
                    <div class="col-lg-12 ">
                        <div class="single-hero-slider-7 bg-img" data-bg="assets/images/hero/home-4.jpeg">
                            <div class="hero-content-wrap one">

                                <div class="hero-text-7 mt-lg-5">


                                    <div class="hero-div-custom hero-div-custom-tshirt col-11 hero-text-7">
                                        <h2>Personnaliser Vos Tshirt</h2>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-12 ">
                        <div class="single-hero-slider-7 bg-img" data-bg="assets/images/hero/col-1.png">
                            <div class="hero-content-wrap">
                                <div class="hero-text-7 mt-lg-5">

                                    <div class="hero-text-7 mt-lg-5">
    
                                        <div class="hero-div-custom hero-div-custom-bodysuit col-10 hero-text-7">
                                            <h2>Personnaliser VoTre BodySuit</h2>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-12 ">
                        <div class="single-hero-slider-7 bg-img" data-bg="assets/images/hero/home-3.jpeg">
                            <div class="hero-content-wrap">
                                <div class="hero-text-7 mt-lg-5">

                                    <div class="hero-div-custom hero-div-custom-tshirt col-11 hero-text-7">
                                        <h2>Personnaliser Vos Tshirt</h2>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                </div>
            </div>
            <!-- </div> -->

        </div>
        <!-- Hero Slider Area End -->

        <div class="about-us-area section-space--ptb_120">
            <div class="container">
                <div class="row">
                    <div class="col-lg-12">
                        <div class="about-us-content_6 text-center">
                            <h2>Personnalisation de vos articles sur mesure. </h2>
                            <p>Tee Shirt, Tasse, Sac, Casquette.
                            </p>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <!--  -->


        <div class="our-blog-area section-space--ptb_90">
            <div class="container">


                <div class="row">
                    <div class="col-lg-4 col-md-6 col-sm-6 col-12">
                        <!-- Single Blog Item Start -->
                        <div class="single-blog-item mt-30">
                            <div class="blog-thumbnail-box">
                                <a href="#" class="thumbnail">
                                    <img src="assets/images/hero/col-1.png" class="img-fluid" alt="Blog Images">
                                </a>
                                <a href="#" class="btn-blog"> Baby Bodysuit Personnalisé </a>
                            </div>

                        </div><!-- Single Blog Item End -->
                    </div>
                    <div class="col-lg-4 col-md-6  col-sm-6 col-12">
                        <!-- Single Blog Item Start -->
                        <div class="single-blog-item mt-30">
                            <div class="blog-thumbnail-box">
                                <a href="#" class="thumbnail">
                                    <img src="assets/images/hero/col-2.png" class="img-fluid" alt="Blog Images">
                                </a>
                                <a href="#" class="btn-blog"> Tasse Personnalisée </a>
                            </div>

                        </div><!-- Single Blog Item End -->
                    </div>
                    <div class="col-lg-4 col-md-6 col-sm-6 col-12">
                        <!-- Single Blog Item Start -->
                        <div class="single-blog-item mt-30">
                            <div class="blog-thumbnail-box">
                                <a href="#" class="thumbnail">
                                    <img src="assets/images/hero/col-3.png" class="img-fluid" alt="Blog Images">
                                </a>
                                <a href="#" class="btn-blog"> Tee Shirt Femme Personnalisé </a>
                            </div>

                        </div><!-- Single Blog Item End -->
                    </div>
                </div>

            </div>
        </div>


        <div class="offer-colection-area">
            <div class="bg">
                <div class="row">
                    <div class="container">
                        <div class="row">
                            <div class="col-lg-4 col-md-12 col-sm-12 col-12">
                                <!-- Single Support Item Start -->
                                <div class="single-support-item">

                                    <h1 class="text-lg text-uppercase">01.</h1>
                                    <h6>Choisissez un article</h6>
                                    <div class="iconbox-desc">
                                        <p>Choisissez parmis nos articles, celui que vous souhaitez personnaliser et
                                            débuter le processus.</p>
                                    </div>
                                </div>
                                <!-- Single Support Item End -->
                            </div>
                            <div class="col-lg-4 col-md-12 col-sm-12 col-12">
                                <!-- Single Support Item Start -->
                                <div class="single-support-item">
                                    <h1 class="text-lg text-uppercase">02.</h1>
                                    <h6>Inserer une image et/ou un texte</h6>
                                    <div class="iconbox-desc">
                                        <p>Personnalisé votre article en ajoutant des images et textes à votre
                                            convenance</p>
                                    </div>
                                </div>
                                <!-- Single Support Item End -->
                            </div>
                            <div class="col-lg-4 col-md-12 col-sm-12 col-12">
                                <!-- Single Support Item Start -->
                                <div class="single-support-item">
                                    <h1 class="text-lg text-uppercase">03.</h1>
                                    <h6>Choisissez les caractéristiques</h6>
                                    <div class="iconbox-desc">
                                        <p>Choisissez la taille, la couleur et la quantité des articles que vous
                                            souhaitez commander</p>
                                    </div>
                                </div>
                                <!-- Single Support Item End -->
                            </div>

                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class=" section-btn-design">
            <button class="btn ">
                Commencer la Personnalisation Ici
            </button>
        </div>





        <!-- About Start -->
        <div class="about wow">
            <div class="container">
                <div class="row align-items-center">
                    <div class="col-lg-5 col-md-6">
                        <div class="about-img">
                            <img src="assets/images/hero/tshirt-custom.png" alt="Image">
                        </div>
                    </div>
                    <div class="col-lg-7 col-md-6">
                        <div class="section-header text-left">
                            <p>En savoir plus sur nous</p>
                        </div>
                        <div class="about-text">
                            <p>
                                Lorem ipsum dolor sit amet, consectetur adipiscing elit. Phasellus nec pretium mi. Curabitur facilisis ornare velit non vulputate. Aliquam metus tortor, auctor id gravida condimentum, viverra quis sem.
                            </p>
                            <p>
                                Lorem ipsum dolor sit amet, consectetur adipiscing elit. Phasellus nec pretium mi. Curabitur facilisis ornare velit non vulputate. Aliquam metus tortor, auctor id gravida condimentum, viverra quis sem. Curabitur non nisl nec nisi scelerisque maximus.
                            </p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- About End -->

        <section class="trust-section">
            <div class="container">

                <div class="row">
                    <div class="col-lg-4 trust-section-item">
                        <div class="icon">
                            <img src="assets/images/icons/call-center.png">
                        </div>
                        <h3>Service Client</h3>
                        <p>Notre service client est disponible du
                            Lundi au Vendredi de 9h-12h | 14h-17h.</p>
                    </div>
                    <div class="col-lg-4 trust-section-item">
                        <div class="icon">
                            <img src="assets/images/icons/shield.svg">
                        </div>
                        <h3>Site 100% Sécurisé</h3>
                        <p>Votre paiement est 100 % sécurisé.</p>
                        <img class="ssl-paypal" src="assets/images/icons/ssl-paypal.png">

                    </div>
                    <div class="col-lg-4 trust-section-item">
                        <div class="icon">
                            <img src="assets/images/icons/delivery-truck.svg">
                        </div>
                        <h3>Livraison Express</h3>
                        <p>Nous vous livrons dans les temps.</p>
                    </div>
                </div>
            </div>

        </section>

    </div>














    <!--====================  footer area ====================-->
    <app-footer2></app-footer2>

    <!--====================  End of footer area  ====================-->






    <!--====================  mobile menu overlay ====================-->
    <app-menu></app-menu>
    <!--====================  End of mobile menu overlay  ====================-->



    <!--  offcanvas Minicart Start -->
    <app-mini-cart></app-mini-cart>
    <!--  offcanvas Minicart End -->


    <!--====================  search overlay ====================-->
    <app-scroll-to-top></app-scroll-to-top>