<app-cookies></app-cookies>
<app-header></app-header>

<div id="popup-newsletter"><i class="fas fa-check"></i>Vous avez été enregistré</div>


<div id="main-wrapper">
    <div class="site-wrapper-reveal">

        <div class="hero-area ">
            <div class="single-hero-slider-one bg-img" data-bg="assets/images/hero/bg-1.png">
                <div class="container">
                    <div class="row">
                        <div class="col-lg-12">
                            <div class="banner_car  col-lg-4 col-md-6 col-sm-6 col-9">
                                <h1>Impression de haute qualité Sur Tasses</h1>
                                <br>
                                <button routerLink="/create-own/2" class="btn btn-warning col-12">
                                    Personnalier Maintenant
                                </button>
                                <span> Personnalisation en 5min</span>
                            </div>​

                        </div>
                    </div>
                </div>
            </div>


        </div>

        <div class="about-us-area section-space--ptb_120">
            <div class="container">
                <div class="row">
                    <div class="col-lg-12">
                        <div class="about-us-content_6 text-center">
                            <h2 style="text-transform: uppercase;">VOS ARTICLES à PERSONNALISER EN IMPRESSION DE HAUTE
                                QUALITE.
                            </h2>
                            <p>Mugs, T-shirt, Tabliers , Assiettes, Casquettes.
                            </p>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <!--  -->


        <div class="our-blog-area section-space--ptb_90">
            <div class="container">


                <div class="row">
                    <div class="col-lg-4 col-md-6 col-sm-6 col-12">
                        <!-- Single Blog Item Start -->
                        <div class="single-blog-item mt-30">
                            <div class="blog-thumbnail-box">
                                <a routerLink="/create-own/3" class="thumbnail">
                                    <img src="assets/images/hero/col-1.png" class="img-fluid" alt="Blog Images">
                                </a>
                                <a routerLink="/create-own/3" class="btn-blog"> Baby Bodysuit Personnalisé </a>
                            </div>

                        </div><!-- Single Blog Item End -->
                    </div>
                    <div class="col-lg-4 col-md-6  col-sm-6 col-12">
                        <!-- Single Blog Item Start -->
                        <div class="single-blog-item mt-30">
                            <div class="blog-thumbnail-box">
                                <a routerLink="/create-own/1" class="thumbnail">
                                    <img src="assets/images/hero/col-2.png" class="img-fluid" alt="Blog Images">
                                </a>
                                <a routerLink="/create-own/1" class="btn-blog"> Tasse Personnalisée </a>
                            </div>

                        </div><!-- Single Blog Item End -->
                    </div>
                    <div class="col-lg-4 col-md-6 col-sm-6 col-12">
                        <!-- Single Blog Item Start -->
                        <div class="single-blog-item mt-30">
                            <div class="blog-thumbnail-box">
                                <a routerLink="/create-own/2" class="thumbnail">
                                    <img src="assets/images/hero/col-3.png" class="img-fluid" alt="Blog Images">
                                </a>
                                <a routerLink="/create-own/2" class="btn-blog"> Tee Shirt Femme Personnalisé </a>
                            </div>

                        </div><!-- Single Blog Item End -->
                    </div>
                </div>

            </div>
        </div>


        <div class="offer-colection-area">
            <div class="bg">
                <div class="row">
                    <div class="container">
                        <div class="t_etape_perso">
                            <h2 class="text-center">Personnalisez votre tasse en 3 simples étapes.
                            </h2>
                        </div>

                        <div class="row">
                            <div class="col-lg-4 col-md-12 col-sm-12 col-12">
                                <!-- Single Support Item Start -->
                                <div class="single-support-item">

                                    <img  src="assets/images/hero/choices.png">

                                    <h6>Choisissez votre produit</h6>
                                    <div class="iconbox-desc">
                                        <p>Choisissez parmis nos articles, celui que vous souhaitez personnaliser et
                                            débuter le processus.</p>
                                    </div>
                                </div>
                                <!-- Single Support Item End -->
                            </div>
                            <div class="col-lg-4 col-md-12 col-sm-12 col-12">
                                <!-- Single Support Item Start -->
                                <div class="single-support-item">
                                    <img  src="assets/images/hero/creativity.png">
                                    <h6>Ajoutez votre design</h6>
                                    <div class="iconbox-desc">
                                        <p>Personnalisé votre article en ajoutant des images et textes à votre
                                            convenance</p>
                                    </div>
                                </div>
                                <!-- Single Support Item End -->
                            </div>
                            <div class="col-lg-4 col-md-12 col-sm-12 col-12">
                                <!-- Single Support Item Start -->
                                <div class="single-support-item">
                                    <img  src="assets/images/hero/shipped.png">
                                    <h6>Commandez votre tasse</h6>
                                    <div class="iconbox-desc">
                                        <p>Choisissez la taille, la couleur et la quantité des articles que vous
                                            souhaitez commander</p>
                                    </div>
                                </div>
                                <!-- Single Support Item End -->
                            </div>

                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class=" section-btn-design">
            <button class="btn " routerLink="/create-own/2">
                Commencer la Personnalisation Ici
            </button>
        </div>





        <!-- About Start -->
        <div class="about wow">
            <div class="container">
                <div class="row align-items-center">
                    <div class="col-lg-5 col-md-6">
                        <div class="about-img">
                            <img src="assets/images/hero/tshirt-custom.png" alt="Image">
                        </div>
                    </div>
                    <div class="col-lg-7 col-md-6">
                        <div class="section-header text-left">
                            <p>En savoir plus sur nous</p>
                        </div>
                        <div class="about-text">
                            <p>
                                Tooneuf.com est une boutique en ligne avec des objets et accessoires, cadeaux très
                                personnels. Ici, vous trouverez toujours un accessoire, objet et un cadeau unique car
                                personnalisé avec nom, texte, logo ou photo.
                            </p>
                            <p>
                                Les atouts de Tooneuf.com sont des objets et accessoires et cadeaux originaux, une
                                livraison rapide, une grande qualité de produits à des prix raisonnables, un site facile
                                d'usage et un service clients inimitable. Chaque commande sera envoyée avec une petite
                                carte comportant votre message personnel pour le destinataire.
                            </p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- About End -->

        <section class="trust-section">
            <div class="container">

                <div class="row">
                    <div class="col-lg-4 trust-section-item">
                        <div class="icon">
                            <img src="assets/images/icons/call-center.png">
                        </div>
                        <h3>Service Client</h3>
                        <p>Notre service client est disponible du
                            Lundi au Vendredi de 9h-12h | 14h-17h.</p>
                    </div>
                    <div class="col-lg-4 trust-section-item">
                        <div class="icon">
                            <img src="assets/images/icons/shield.svg">
                        </div>
                        <h3>Site 100% Sécurisé</h3>
                        <p>Votre paiement est 100 % sécurisé.</p>
                        <img class="ssl-paypal" src="assets/images/icons/ssl-paypal.png">

                    </div>
                    <div class="col-lg-4 trust-section-item">
                        <div class="icon">
                            <img src="assets/images/icons/delivery-truck.svg">
                        </div>
                        <h3>Livraison Express</h3>
                        <p>Nous vous livrons dans les temps.</p>
                    </div>
                </div>
            </div>

        </section>

    </div>














    <!--====================  footer area ====================-->
    <app-footer2></app-footer2>

    <!--====================  End of footer area  ====================-->






    <!--====================  mobile menu overlay ====================-->
    <app-menu></app-menu>
    <!--====================  End of mobile menu overlay  ====================-->



    <!--  offcanvas Minicart Start -->
    <app-mini-cart></app-mini-cart>
    <!--  offcanvas Minicart End -->


    <!--====================  search overlay ====================-->
    <app-scroll-to-top></app-scroll-to-top>