<div class="header-area header-area--default bg-white">

    <!-- Header Bottom Wrap Start -->
    <header class="header-area header_absolute header_height-90 header-sticky">
        <div class="container-fluid container-fluid--cp-100">
            <div class="row align-items-center">

                <div class="col-lg-3 col-lg-3 col-6">
                    <div class="logo text-left">
                        <a href="#"><img width="150" src="assets/images/logo/logo.png" alt=""></a>
                    </div>
                </div>

                <div class="col-lg-6 col-lg-6  d-none d-lg-block">
                    <!-- navigation menu -->
                    <div class="header__navigation d-none d-lg-block">
                        <nav class="navigation-menu">
                            <ul class="justify-content-center">
                                <li class="">
                                    <a routerLink="/home"><span>Home</span></a>
                                </li>
                                <li class="">
                                    <a href="#"><span>Shop</span></a>
                                </li>
                                <li class="">
                                    <a href="#"><span>Contact</span></a>
                                </li>
                            </ul>
                        </nav>
                    </div>
                </div>
                <div class="col-lg-3 col-lg-3 col-6">
                    <div class="header-right-side text-right">
                       

                        <div class="header-right-items">
                            <a href="#miniCart" class=" header-cart minicart-btn toolbar-btn header-icon">
                                <i class="icon-bag2"></i>
                                <span class="item-counter">3</span>
                            </a>
                        </div>
                        <div class="header-right-items d-block d-md-none">
                            <a href="javascript:void(0)" class="search-icon" id="search-overlay-trigger">
                                <i class="icon-magnifier"></i>
                            </a>
                        </div>
                        <div class="header-right-items">
                            <a href="#" class="mobile-navigation-icon" id="mobile-menu-trigger">
                                <i class="icon-menu"></i>
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </header>
    <!-- Header Bottom Wrap End -->

</div>